body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

/* Fixes the ugly pale yellow autofill Chrome puts on forms */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}

/* Different approach, but hides inner labels on forms, */
/* following material design */

/*input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}*/
